@{
    ViewBag.Title = "About";
}

<hr />
<h2 class="text-center">@ViewBag.Title</h2>


<p class="text-center">Visit my <a href="https://fkitchell.github.io/portfolio/" target="_blank">portfolio page </a>to find out more about me! </p>
