@{
    ViewBag.Title = "Contact";
}
<h2 class="text-center">I'd love to hear from you!</h2>




<address>
    <div class="container text-center">
        <br />
        <strong>Email:</strong> <a href="mailto:fdkitchell@gmail.com" target="_blank">fdkitchell@gmail.com</a><br />
        <strong><a href="https://fkitchell.github.io/portfolio" target="_blank"> My Website</a></strong><br />
    </div>
</address>